body{
    background: url('background_web.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#deep{
    position: relative;
    margin-top: 100px;
}

.btn-bgg{
    position: absolute;
    top:0px;
}
