body{
    background: url('background_web.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}


